# Exercício Prático - Recomendação de Filmes Basead no Conteúdo
Aluno: Diego Vasconcelos Schardosim de Matos

Ciência da Computação - Universidade Federal do Rio de Janeiro - 2023

Baseado na aula: [Movie Recommender System Project | Content Based Recommender System with Heroku Deployment](https://www.youtube.com/watch?v=1xtrIEwY_zY)

## Propósito

Estudar como funciona uma implementação de Sistema de Recomendação para elaboração do Projeto Final. Neste notebook estaremos usando o dataset [TMDB 5000 Movie Dataset | Kaggle](https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata?select=tmdb_5000_movies.csv) para recomendar filmes similares dado um filme, ex:

    Usuário terminou de assistir o filme Avatar, o sistema irá recomendar outros filmes parecidos com o Avatar.

O algoritmo não leva em conta o histórico do usuário nem de outros usuários, apenas as características do filme.

## Matriz de Similaridade

Para calcularmos a similaridade entre os filmes, usaremos as seguintes características: sinopse, gênero, palavras chaves e o elenco.

Como todas essas características são um texto, usaremos uma técnica chamada *bag of words*, onde basicamente montaremos uma Matriz Filme x Palavra onde cada elemento será a frequencia de palavras que o filme contém. 

A partir dela iremos calcular uma nova Matriz Filme x Filme onde cada elemento será o $cos\theta$ do filme i para o filme j, quando maior o cos $\theta$, mais próximos os filmes são.

## Passos necessários

1. Pre processamento dos dados
2. Montar Matriz de similaridade
3. Recomendar filmes usando Matriz já montada

## Pre processando os Dados

Precisamos tratar o dataset para que possamos rodar o algoritmo de similaridade, para isso iremos filtrar apenas os atributos relevantes e juntar tudo numa grande coluna com todas as tags.

In [3]:
import numpy as np
import pandas as pd

In [4]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [5]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
credits.rename(columns={'movie_id':'id'}, inplace=True)

credits.head()

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
movies_merged = movies.merge(credits, on='id')

movies_merged.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
# Filtrar colunas relevantes

movies_filtered = movies_merged.loc[:,('id', 'original_title', 'overview', 'genres', 'keywords', 'cast', 'crew')]
movies_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4803 non-null   int64
 1   original_title  4803 non-null   object
 2   overview        4800 non-null   object
 3   genres          4803 non-null   object
 4   keywords        4803 non-null   object
 5   cast            4803 non-null   object
 6   crew            4803 non-null   object
dtypes: int64(1), object(6)
memory usage: 262.8+ KB

In [9]:
# Remove valores nulos

movies_filtered.dropna(inplace=True)

In [10]:
def filter_item(rawGenreArray, attr):
    genreArray = eval(rawGenreArray)
    result = []
    
    for i in genreArray:
        result.append(i[attr])
    
    return result;

In [11]:
movies_filtered['genres'] = movies['genres'].apply(filter_item, args=('name',))
movies_filtered.head()

,id,original_title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
movies_filtered['keywords'] = movies['keywords'].apply(filter_item, args=('name',))
movies_filtered.head()

,id,original_title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
def fetch_cast_members(rawItems):
    iterableItems = eval(rawItems)
    result = []
    counter = 0
    
    for i in iterableItems:
        if counter >= 3:
            break
            
        result.append(i['name'])
        counter += 1
    
    return result;

In [14]:
movies_filtered['cast'] = movies_filtered['cast'].apply(fetch_cast_members)
movies_filtered.head()

,id,original_title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [15]:
def fetch_director(rawItems):
    iterableItems = eval(rawItems)
    result = []
    
    for i in iterableItems:
        if i['job'] == 'Director':
            result.append(i['name'])
    
    return result;

In [16]:
movies_filtered['crew'] = movies_filtered['crew'].apply(fetch_director)
movies_filtered.head()

,id,original_title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [17]:
movies_filtered['overview'] = movies_filtered['overview'].apply(lambda x:x.split())
movies_filtered.head()

,id,original_title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [18]:
movies_filtered['genres'] = movies_filtered['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
movies_filtered['keywords'] = movies_filtered['keywords'].apply(lambda x:[i.replace(" ", "") for i in x])
movies_filtered['cast'] = movies_filtered['cast'].apply(lambda x:[i.replace(" ", "") for i in x])
movies_filtered['crew'] = movies_filtered['crew'].apply(lambda x:[i.replace(" ", "") for i in x])

In [19]:
movies_filtered.head()

,id,original_title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [20]:
movies_filtered['tags'] = movies_filtered['overview'] + movies_filtered['genres'] + movies_filtered['keywords'] + movies_filtered['cast'] + movies_filtered['crew']

In [21]:
movies_filtered.head()

,id,original_title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [22]:
movies_filtered = movies_filtered[['id', 'original_title', 'tags']]

In [23]:
movies_filtered['tags'] = movies_filtered['tags'].apply(lambda x:" ".join(x))

In [24]:
movies_filtered.head()

,id,original_title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [25]:
movies_filtered['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [26]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [27]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [28]:
movies_filtered['tags'] = movies_filtered['tags'].apply(stem);

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(lowercase=True, max_features=5000, stop_words='english')

In [30]:
tags_count = vectorizer.fit_transform(movies_filtered['tags'])

In [31]:
tags_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [32]:
vectorizer.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [33]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(tags_count)

In [34]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])

[(0, 0.9999999999999993),
 (1213, 0.29061909685954823),
 (2403, 0.2726248784031354),
 (3723, 0.26401000024165),
 (507, 0.25903973506580724),
 (539, 0.2537477434955704),
 (582, 0.2484013136974297),
 (1201, 0.24784079854830487),
 (1191, 0.23490461932490855),
 (778, 0.23485569615051044),
 (4041, 0.23089735286521348),
 (1914, 0.22830583024432843),
 (61, 0.22568905807670633),
 (2780, 0.22147019900891643),
 (172, 0.21524880100025257),
 (972, 0.21369687880543226),
 (322, 0.213352298825066),
 (2327, 0.2071841649822589),
 (3603, 0.20712325533373332),
 (260, 0.20668850837512243),
 (151, 0.2056773510573183),
 (4185, 0.2056773510573183),
 (1438, 0.20549873413169661),
 (74, 0.20518233866439894),
 (1086, 0.2047597175387335),
 (3667, 0.2005648842255601),
 (577, 0.20032733246124987),
 (47, 0.199363055707225),
 (27, 0.195976600339204),
 (2966, 0.19510570275964212),
 (942, 0.19391446622548786),
 (495, 0.19344776406574832),
 (1198, 0.1934477640657483),
 (305, 0.1926263261127128),
 (4, 0.19184045508446734),
 (4399, 0.18983159915049982),
 (94, 0.1898315991504998),
 (3322, 0.18857857160117855),
 (1272, 0.18641092980036),
 (1326, 0.18641092980036),
 (2994, 0.18380365552345193),
 (3992, 0.18316875326179907),
 (83, 0.1823843010350213),
 (1068, 0.18195633571851272),
 (220, 0.18009006755629928),
 (1318, 0.17937400083354382),
 (4330, 0.17757120130114437),
 (168, 0.17757120130114434),
 (184, 0.17757120130114434),
 (2198, 0.17757120130114434),
 (931, 0.1771615786072478),
 (373, 0.1752499093081954),
 (36, 0.17348855898381338),
 (300, 0.17348855898381338),
 (3533, 0.17348855898381338),
 (3157, 0.1726931567105382),
 (1976, 0.17170914210964275),
 (529, 0.1696751579473019),
 (1825, 0.1696751579473019),
 (91, 0.16916516233038026),
 (661, 0.16839306718964578),
 (41, 0.1678603981989089),
 (150, 0.16646698038757363),
 (1531, 0.1643989873053573),
 (67, 0.16439898730535726),
 (342, 0.1633934794796094),
 (595, 0.162746694241347),
 (31, 0.16120647005479025),
 (2509, 0.16120647005479025),
 (1175, 0.1600142241187995),
 (4003, 0.15949044456578),
 (2725, 0.15819299929208316),
 (187, 0.15794943794779692),
 (149, 0.15719549837837185),
 (838, 0.15608456220771372),
 (26, 0.1559625734730109),
 (1377, 0.15404884978892902),
 (111, 0.1522038868295523),
 (311, 0.1522038868295523),
 (1341, 0.1522038868295523),
 (513, 0.15042366316917008),
 (2069, 0.15007505629691606),
 (7, 0.1487044791289829),
 (52, 0.1487044791289829),
 (2754, 0.14856672599230308),
 (127, 0.14797064923339878),
 (579, 0.14763464883937316),
 (581, 0.14763464883937316),
 (108, 0.14704292441876157),
 (1294, 0.14704292441876157),
 (466, 0.14704292441876154),
 (1473, 0.1461508458653816),
 (1390, 0.14615084586538157),
 (1932, 0.1454358496691159),
 (1352, 0.14543584966911588),
 (275, 0.1453095484297741),
 (294, 0.1453095484297741),
 (3349, 0.1453095484297741),
 (1053, 0.1438803413133505),
 (1270, 0.1438803413133505),
 (490, 0.14349920066683505),
 (1482, 0.14349920066683505),
 (413, 0.14309095175803563),
 (461, 0.14309095175803563),
 (2490, 0.14309095175803563),
 (568, 0.1430909517580356),
 (95, 0.14237369936287486),
 (17, 0.14165281524036175),
 (46, 0.14097096860865022),
 (3404, 0.14097096860865022),
 (1959, 0.14059173052284343),
 (56, 0.14019992744655632),
 (249, 0.14019992744655632),
 (1324, 0.14019992744655632),
 (3774, 0.14019992744655632),
 (72, 0.1389425035941821),
 (859, 0.1389425035941821),
 (2163, 0.1389425035941821),
 (4532, 0.13812277665483924),
 (476, 0.1371182340382122),
 (505, 0.1371182340382122),
 (668, 0.1371182340382122),
 (935, 0.1371182340382122),
 (3975, 0.1371182340382122),
 (843, 0.13699915608779772),
 (1802, 0.13699915608779772),
 (4342, 0.13678822577626598),
 (1319, 0.13657399193174952),
 (777, 0.1354916256531435),
 (158, 0.13549162565314346),
 (502, 0.13549162565314346),
 (126, 0.13513513513513514),
 (1554, 0.13513513513513514),
 (1367, 0.1342312110428049),
 (2372, 0.1342312110428049),
 (2578, 0.1342312110428049),
 (2175, 0.13334518676566626),
 (4072, 0.13334518676566626),
 (2127, 0.13300532955644181),
 (1012, 0.1316245316231641),
 (3617, 0.1316245316231641),
 (134, 0.13151918984428584),
 (368, 0.13151918984428584),
 (1768, 0.13151918984428584),
 (2867, 0.13065106689280265),
 (14, 0.12996881122750908),
 (138, 0.12996881122750908),
 (1083, 0.12996881122750908),
 (2680, 0.12996881122750908),
 (4223, 0.12996881122750908),
 (487, 0.1289651760438322),
 (773, 0.1289651760438322),
 (2965, 0.1289651760438322),
 (937, 0.1283740414907742),
 (1735, 0.12734290799340264),
 (2474, 0.12734290799340264),
 (166, 0.12683657235796025),
 (754, 0.12683657235796025),
 (2444, 0.12683657235796025),
 (3623, 0.12683657235796025),
 (483, 0.12655439943366653),
 (1093, 0.12655439943366653),
 (1155, 0.12655439943366653),
 (102, 0.12629480039223434),
 (84, 0.12527215359889848),
 (208, 0.12427395320024),
 (1872, 0.12427395320024),
 (2646, 0.12427395320024),
 (3371, 0.12427395320024),
 (438, 0.12392039927415242),
 (557, 0.12392039927415242),
 (1296, 0.12392039927415242),
 (2325, 0.12329924047901797),
 (2668, 0.12329924047901797),
 (3078, 0.12329924047901797),
 (139, 0.12234710854292788),
 (68, 0.1221125021745327),
 (781, 0.1221125021745327),
 (1001, 0.1221125021745327),
 (1271, 0.1221125021745327),
 (1652, 0.1221125021745327),
 (999, 0.12141669877745292),
 (549, 0.12119654139092992),
 (870, 0.12119654139092992),
 (900, 0.12119654139092992),
 (3230, 0.1211965413909299),
 (1044, 0.12006004503753284),
 (1827, 0.12006004503753284),
 (2054, 0.12006004503753284),
 (2735, 0.12006004503753284),
 (4667, 0.12006004503753284),
 (1667, 0.11961783342433499),
 (1709, 0.11961783342433499),
 (2783, 0.11961783342433499),
 (3714, 0.11961783342433499),
 (3993, 0.11961783342433499),
 (160, 0.11869522585912262),
 (182, 0.1186447494690624),
 (278, 0.1186447494690624),
 (1611, 0.1186447494690624),
 (2278, 0.1186447494690624),
 (28, 0.11810771907149853),
 (122, 0.11810771907149853),
 (422, 0.11810771907149853),
 (678, 0.11810771907149853),
 (589, 0.1178966237837789),
 (454, 0.11742784807525519),
 (2541, 0.11742784807525519),
 (1491, 0.11706342165578529),
 (3207, 0.1166080974034697),
 (189, 0.1162476387438193),
 (236, 0.11624763874381927),
 (1217, 0.11624763874381927),
 (1298, 0.11624763874381927),
 (85, 0.11565903932254226),
 (432, 0.11510231387903269),
 (1412, 0.11510231387903269),
 (50, 0.1144727614064285),
 (1610, 0.1144727614064285),
 (536, 0.11399018814688831),
 (420, 0.1139901881468883),
 (889, 0.11394547734377711),
 (3142, 0.11389895949029985),
 (256, 0.11314714296070713),
 (808, 0.11314714296070713),
 (1345, 0.11314714296070713),
 (1506, 0.11290968804428624),
 (2366, 0.11290968804428622),
 (3304, 0.11290968804428622),
 (21, 0.11277677488692017),
 (87, 0.11277677488692017),
 (121, 0.11277677488692017),
 (232, 0.11277677488692017),
 (4462, 0.11277677488692017),
 (206, 0.11241002017619531),
 (238, 0.11241002017619531),
 (228, 0.11185934253567072),
 (81, 0.11168711865749101),
 (1568, 0.11168711865749101),
 (449, 0.11115400287534567),
 (1028, 0.11115400287534567),
 (1939, 0.11115400287534567),
 (3003, 0.11115400287534567),
 (3423, 0.11115400287534567),
 (123, 0.11083777463036817),
 (692, 0.11083777463036817),
 (200, 0.11028219331407116),
 (627, 0.11028219331407116),
 (653, 0.11028219331407116),
 (1518, 0.11028219331407116),
 (1569, 0.11028219331407116),
 (307, 0.11022596991336672),
 (5, 0.1098436937909367),
 (740, 0.1098436937909367),
 (3088, 0.1098436937909367),
 (3625, 0.1098436937909367),
 (786, 0.10959932487023819),
 (3493, 0.10959932487023819),
 (4771, 0.10959932487023819),
 (229, 0.10892898631973956),
 (572, 0.10887588907733554),
 (939, 0.10827079910776224),
 (332, 0.10810810810810811),
 (472, 0.10810810810810811),
 (1234, 0.10810810810810811),
 (170, 0.10793322294408637),
 (262, 0.10793322294408637),
 (1163, 0.10762440050012628),
 (1495, 0.10762440050012628),
 (1739, 0.10762440050012628),
 (2155, 0.10762440050012628),
 (2628, 0.10762440050012628),
 (4128, 0.10762440050012628),
 (467, 0.10701462561817378),
 (1490, 0.10701462561817378),
 (541, 0.10701462561817376),
 (131, 0.106676149412533),
 (295, 0.106676149412533),
 (2066, 0.106676149412533),
 (3335, 0.106676149412533),
 (2492, 0.1061190899945022),
 (75, 0.10529962529853128),
 (223, 0.10529962529853128),
 (687, 0.10529962529853128),
 (814, 0.10529962529853128),
 (1192, 0.10529962529853128),
 (1765, 0.10529962529853128),
 (2142, 0.10529962529853128),
 (2811, 0.10529962529853128),
 (654, 0.10524566699352861),
 (2433, 0.10524566699352861),
 (105, 0.10514994558491725),
 (233, 0.10514994558491725),
 (624, 0.10514994558491725),
 (2317, 0.10514994558491725),
 (2450, 0.10514994558491725),
 (2515, 0.10514994558491725),
 (3050, 0.10514994558491725),
 (3616, 0.10514994558491725),
 (3832, 0.10514994558491725),
 (1449, 0.10439346133241542),
 (10, 0.10397504898200727),
 (1079, 0.10397504898200727),
 (3147, 0.10397504898200727),
 (3629, 0.10397504898200727),
 (3748, 0.10397504898200727),
 (3867, 0.10397504898200727),
 (4090, 0.10397504898200727),
 (2100, 0.10356162766686666),
 (2756, 0.10283867552865913),
 (3655, 0.10283867552865913),
 (3947, 0.10283867552865913),
 (3436, 0.10274936706584831),
 (508, 0.10269923319261937),
 (1291, 0.10269923319261937),
 (2241, 0.10269923319261937),
 (1399, 0.10195592378577323),
 (1433, 0.10195592378577323),
 (2093, 0.10195592378577323),
 (312, 0.10146925788636821),
 (330, 0.10146925788636821),
 (643, 0.10146925788636821),
 (985, 0.10146925788636821),
 (1034, 0.10146925788636821),
 (1608, 0.10146925788636821),
 (491, 0.1011805823145441),
 (35, 0.10067340828210367),
 (157, 0.10067340828210367),
 (319, 0.10067340828210367),
 (325, 0.10067340828210367),
 (715, 0.10067340828210367),
 (1074, 0.10067340828210367),
 (1277, 0.10067340828210367),
 (1878, 0.10067340828210367),
 (2047, 0.10067340828210367),
 (4011, 0.10067340828210367),
 (4191, 0.10067340828210367),
 (4484, 0.10067340828210367),
 (363, 0.10042266465917388),
 (266, 0.10028244211278005),
 (445, 0.10028244211278005),
 (510, 0.10028244211278005),
 (3615, 0.10028244211278005),
 (3776, 0.10028244211278005),
 (3928, 0.10028244211278005),
 (1769, 0.09968152785361249),
 (410, 0.09913631941932194),
 (480, 0.09913631941932194),
 (535, 0.09913631941932194),
 (898, 0.09913631941932194),
 (1106, 0.09913631941932194),
 (1395, 0.09913631941932194),
 (1817, 0.09913631941932194),
 (2247, 0.09913631941932194),
 (33, 0.09863939238321438),
 (148, 0.09863939238321438),
 (263, 0.09863939238321438),
 (878, 0.09863939238321438),
 (1153, 0.09863939238321438),
 (1721, 0.09863939238321438),
 (1936, 0.09863939238321438),
 (2781, 0.09863939238321438),
 (4249, 0.09863939238321438),
 (4397, 0.09863939238321438),
 (4466, 0.09863939238321438),
 (9, 0.09802861627917438),
 (334, 0.09802861627917438),
 (371, 0.09695723311274393),
 (412, 0.09695723311274393),
 (2235, 0.09695723311274393),
 (2550, 0.09695723311274393),
 (4539, 0.09687303228651607),
 (362, 0.09672388203287416),
 (791, 0.09672388203287416),
 (2390, 0.09672388203287416),
 (2556, 0.09672388203287416),
 (4196, 0.09672388203287416),
 (18, 0.09620723036050562),
 (11, 0.09592022754223367),
 (587, 0.09592022754223367),
 (1273, 0.09491579957524991),
 (1354, 0.09491579957524991),
 (1686, 0.09491579957524991),
 (2482, 0.09491579957524991),
 (2586, 0.09491579957524991),
 (2644, 0.09491579957524991),
 (2814, 0.09491579957524991),
 (3713, 0.09491579957524991),
 (4496, 0.09491579957524991),
 (660, 0.0949157995752499),
 (920, 0.0949157995752499),
 (1468, 0.0949157995752499),
 (1567, 0.0949157995752499),
 (1680, 0.0949157995752499),
 (1715, 0.0949157995752499),
 (2639, 0.0949157995752499),
 (3532, 0.0949157995752499),
 (4325, 0.0949157995752499),
 (129, 0.09394227846020416),
 (243, 0.09394227846020416),
 (279, 0.09394227846020416),
 (473, 0.09394227846020416),
 (596, 0.09394227846020416),
 (813, 0.09394227846020416),
 (1440, 0.09394227846020416),
 (1695, 0.09394227846020416),
 (3402, 0.09394227846020416),
 (301, 0.09367501681349609),
 (785, 0.09367501681349609),
 (12, 0.09320546490018),
 (219, 0.09320546490018),
 (244, 0.09320546490018),
 (511, 0.09320546490018),
 (977, 0.09320546490018),
 (1750, 0.09320546490018),
 (2087, 0.09320546490018),
 (2645, 0.09320546490018),
 (3729, 0.09320546490018),
 (230, 0.0930725988812425),
 (799, 0.0930725988812425),
 (239, 0.09248165577087425),
 (2564, 0.09248165577087425),
 (43, 0.09208185110322616),
 (602, 0.09208185110322616),
 (994, 0.09208185110322616),
 (1230, 0.09208185110322616),
 (1840, 0.09208185110322616),
 (3874, 0.09208185110322616),
 (88, 0.09158437663089952),
 (167, 0.09158437663089952),
 (356, 0.09158437663089952),
 (400, 0.09158437663089952),
 (1303, 0.09158437663089952),
 (1474, 0.09158437663089952),
 (2245, 0.09158437663089952),
 (2952, 0.09158437663089952),
 (331, 0.09119215051751065),
 (2357, 0.09119215051751065),
 (2790, 0.09119215051751065),
 (2850, 0.09119215051751065),
 (3384, 0.09119215051751065),
 (3438, 0.09119215051751065),
 (3457, 0.09119215051751065),
 (4337, 0.09119215051751065),
 (4347, 0.09119215051751065),
 (274, 0.09097816785925636),
 (1900, 0.09032775043542898),
 (2109, 0.0902256659231352),
 (292, 0.09004503377814962),
 (564, 0.09004503377814962),
 (745, 0.09004503377814962),
 (1024, 0.09004503377814962),
 (1256, 0.09004503377814962),
 (2654, 0.09004503377814962),
 (2862, 0.09004503377814962),
 (3317, 0.09004503377814962),
 (169, 0.08948747402853657),
 (270, 0.08948747402853657),
 (618, 0.08948747402853657),
 (1777, 0.08948747402853657),
 (2103, 0.08948747402853657),
 (2707, 0.08948747402853657),
 (2734, 0.08948747402853657),
 (3548, 0.08948747402853657),
 (479, 0.08915786895268649),
 (199, 0.08867021970429453),
 (752, 0.08867021970429453),
 (1826, 0.08867021970429453),
 (2442, 0.0886379935648677),
 (23, 0.0885807893036239),
 (141, 0.0885807893036239),
 (389, 0.0885807893036239),
 (794, 0.0885807893036239),
 (960, 0.0885807893036239),
 (1246, 0.0885807893036239),
 (3443, 0.0885807893036239),
 (3444, 0.0885807893036239),
 (143, 0.08787495503274936),
 (827, 0.08787495503274936),
 (1524, 0.08787495503274936),
 (2874, 0.08787495503274936),
 (3551, 0.08787495503274936),
 (4510, 0.08787495503274936),
 (4581, 0.08787495503274936),
 (2, 0.08718572905786445),
 (457, 0.08718572905786445),
 (775, 0.08718572905786445),
 (1372, 0.08718572905786445),
 (2577, 0.08718572905786445),
 (3130, 0.08718572905786445),
 (4748, 0.08718572905786445),
 (234, 0.08710071126186844),
 (1016, 0.08710071126186844),
 (2348, 0.08710071126186844),
 (32, 0.0863465783552691),
 (217, 0.0863465783552691),
 (1, 0.08585457105482137),
 (142, 0.08585457105482137),
 (894, 0.08585457105482137),
 (1139, 0.08585457105482137),
 (1583, 0.08585457105482137),
 (2298, 0.08585457105482137),
 (4554, 0.08585457105482137),
 (1094, 0.08585457105482136),
 (48, 0.08561170049453902),
 (190, 0.08561170049453902),
 (1302, 0.08561170049453902),
 (1633, 0.08561170049453902),
 (2963, 0.08561170049453902),
 (62, 0.08489527199560176),
 (381, 0.08489527199560176),
 (534, 0.08489527199560176),
 (1692, 0.08489527199560176),
 (3175, 0.08489527199560176),
 (3213, 0.08489527199560176),
 (3971, 0.08489527199560176),
 (4731, 0.08489527199560176),
 (152, 0.08458258116519013),
 (203, 0.08458258116519013),
 (315, 0.08458258116519013),
 (547, 0.08458258116519013),
 (1682, 0.08458258116519013),
 (2122, 0.08458258116519013),
 (3465, 0.08458258116519013),
 (2380, 0.08433490104000933),
 (19, 0.08419653359482289),
 (403, 0.08419653359482289),
 (3898, 0.08419653359482289),
 (2197, 0.08351476906593233),
 (39, 0.08336550215650926),
 (227, 0.08336550215650926),
 (341, 0.08336550215650926),
 (626, 0.08336550215650926),
 (787, 0.08336550215650926),
 (901, 0.08336550215650926),
 (1204, 0.08336550215650926),
 (1743, 0.08336550215650926),
 (2161, 0.08336550215650926),
 (2655, 0.08336550215650926),
 (3135, 0.08336550215650926),
 (3296, 0.08336550215650926),
 (45, 0.08284930213349333),
 (63, 0.08284930213349333),
 (501, 0.08284930213349333),
 (38, 0.08219949365267865),
 (242, 0.08219949365267865),
 (245, 0.08219949365267865),
 (306, 0.08219949365267865),
 (584, 0.08219949365267865),
 (812, 0.08219949365267865),
 (866, 0.08219949365267865),
 (1513, 0.08219949365267865),
 (1658, 0.08219949365267865),
 (2333, 0.08219949365267865),
 (2638, 0.08219949365267865),
 (2665, 0.08219949365267865),
 (2859, 0.08219949365267865),
 (2871, 0.08219949365267865),
 (3522, 0.08219949365267865),
 (3919, 0.08219949365267865),
 (4486, 0.08219949365267865),
 (4562, 0.08219949365267865),
 (4620, 0.08219949365267865),
 (4635, 0.08219949365267865),
 (4648, 0.08219949365267865),
 (4651, 0.08219949365267865),
 (2786, 0.08156473902861858),
 (164, 0.08108108108108109),
 (369, 0.08108108108108109),
 (854, 0.08108108108108109),
 (899, 0.08108108108108109),
 (1266, 0.08108108108108109),
 (1322, 0.08108108108108109),
 (1741, 0.08108108108108109),
 (2677, 0.08108108108108109),
 (3757, 0.08108108108108109),
 (3809, 0.08108108108108109),
 (3844, 0.08108108108108109),
 (486, 0.08099356774626426),
 (51, 0.08094446585163528),
 (103, 0.08094446585163528),
 (222, 0.08094446585163528),
 (1528, 0.08094446585163528),
 (4500, 0.08094446585163528),
 (1892, 0.0803381317273391),
 (16, 0.08000711205939975),
 (37, 0.08000711205939975),
 (241, 0.08000711205939975),
 (329, 0.08000711205939975),
 (1077, 0.08000711205939975),
 (1158, 0.08000711205939975),
 (2289, 0.08000711205939975),
 (3228, 0.08000711205939975),
 (4310, 0.08000711205939975),
 (193, 0.07983920607777244),
 (153, 0.07974522228289),
 (776, 0.07974522228289),
 (1042, 0.07974522228289),
 (1822, 0.07974522228289),
 (1920, 0.07974522228289),
 (3721, 0.07974522228289),
 (3825, 0.07974522228289),
 (4273, 0.07974522228289),
 (286, 0.07916524933276792),
 (1653, 0.07916524933276792),
 (174, 0.07897471897389846),
 (402, 0.07897471897389846),
 (922, 0.07897471897389846),
 (1110, 0.07897471897389846),
 (2933, 0.07897471897389846),
 (3023, 0.07897471897389846),
 (3086, 0.07897471897389846),
 (3097, 0.07897471897389846),
 (3159, 0.07897471897389846),
 (4335, 0.07897471897389846),
 (1918, 0.07859774918918593),
 (3555, 0.07859774918918593),
 (1279, 0.07804228110385686),
 (40, 0.07798128673650545),
 (96, 0.07798128673650545),
 (101, 0.07798128673650545),
 (112, 0.07798128673650545),
 (207, 0.07798128673650545),
 (632, 0.07798128673650545),
 (737, 0.07798128673650545),
 (1286, 0.07798128673650545),
 (2213, 0.07798128673650545),
 (4261, 0.07798128673650545),
 (4618, 0.07798128673650545),
 (850, 0.07749842582921286),
 (1002, 0.07749842582921286),
 (1136, 0.07749842582921286),
 (1251, 0.07749842582921286),
 (1615, 0.07749842582921286),
 (2159, 0.07749842582921286),
 (2268, 0.07749842582921286),
 (2706, 0.07749842582921286),
 (3425, 0.07749842582921286),
 (4158, 0.07749842582921286),
 (4467, 0.07749842582921286),
 (70, 0.07702442489446452),
 (82, 0.07702442489446452),
 (235, 0.07702442489446452),
 (349, 0.07702442489446452),
 (492, 0.07702442489446452),
 (1287, 0.07702442489446452),
 (1517, 0.07702442489446452),
 (2443, 0.07702442489446452),
 (2911, 0.07702442489446452),
 (4552, 0.07702442489446452),
 (246, 0.07696578428840449),
 (125, 0.07679066282306655),
 (1999, 0.07644397634449163),
 (3326, 0.07632031385908294),
 (98, 0.07610194341477616),
 (210, 0.07610194341477616),
 (361, 0.07610194341477616),
 (365, 0.07610194341477616),
 (503, 0.07610194341477616),
 (540, 0.07610194341477616),
 (680, 0.07610194341477616),
 (1006, 0.07610194341477616),
 (1290, 0.07610194341477616),
 (2157, 0.07610194341477616),
 (4038, 0.07610194341477616),
 (4198, 0.07610194341477616),
 (2250, 0.0759326396601999),
 (205, 0.07543142864047142),
 (800, 0.07543142864047142),
 (992, 0.07543142864047142),
 (1320, 0.07543142864047142),
 (1515, 0.07543142864047142),
 (1764, 0.07543142864047142),
 (2320, 0.07543142864047142),
 (2545, 0.07543142864047142),
 (2795, 0.07543142864047142),
 (3064, 0.07543142864047142),
 (3112, 0.07543142864047142),
 (3121, 0.07543142864047142),
 (4004, 0.07543142864047142),
 (4406, 0.07543142864047142),
 (4536, 0.07543142864047142),
 (885, 0.07521183158458504),
 (1067, 0.07521183158458504),
 (2389, 0.07521183158458504),

In [35]:
def recommend(movie):
    movie_index = movies_filtered[movies_filtered['original_title'] == movie].index[0]
    distances = sorted(similarity[movie_index], reverse=True)
    movies_list = sorted(list(enumerate(similarity[movie_index])), reverse=True, key=lambda x:x[1])[1:6]
    result = []
    
    for i in movies_list:
        result.append(movies_filtered.iloc[i[0]].original_title                          )
    
    return result

In [36]:
recommend('Batman Begins')

['The Dark Knight',
 'Batman',
 'The Dark Knight Rises',
 '10th & Wolf',
 'Rockaway']